<footer class="footer">
    <section class="información-adicional">
        <article>
            <div class="imagen-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            <h4 class="footer-titulo"><a href="#" class="footer-titulo">Información</a></h4>
            <p class="texto-footer">Contáctenos</p>
            <p class="texto-footer">Política de privacidad</p>
            <p class="texto-footer">Servicios IT</p>
        </article>
        <br/>

        <article>
            <div class="imagen-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h4 class="footer-titulo"><a href="#" class="footer-titulo">Servicio al Cliente</a></h4>
            <p class="texto-footer">Contáctenos</p>
            <p class="texto-footer">Devoluciones</p>
            <p class="texto-footer">Dónde encontrarnos</p>
        </article>
        <br/>

        <article>
            <div class="imagen-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h4 class="footer-titulo"><a href="/profile" class="footer-titulo">Mi Cuenta</a></h4>
            <p class="texto-footer"><a href="/profile" class="texto-footer">Mi Cuenta</a></p>
            <p class="texto-footer">Newlsetter</p>
            <p class="texto-footer"><a href="/productCart" class="texto-footer">Mis Pedidos</a></p>
        </article>
        
        <section class="footer-logos">
            <article>
                <div class="imagen-footer"><a href="https://www.facebook.com/login">
                    <i class="fab fa-facebook logos-i"></i></a>
                </div>
            </article>
            <br/>
            <article>
                <div class="imagen-footer"><a href="https://www.instagram.com/">
                    <i class="fab fa-instagram logos-i"></i></a>
                </div>
            </article>
            <br/>
            <article>
                <div class="imagen-footer"><a href="https://outlook.live.com/owa/">
                    <i class="far fa-envelope logos-i"></i></a>
                </div>
            </article>
        </section>
    </section>
    <br/>

        <article>
            <p class="copyright">Copyright © 2021 fabaStore S.R.L.</p>
        </article>
</footer>