<header>
    <a href="/" >
         <div class="box-logo-faba-store">
            <img src="img/logo-faba-dimensionado.jpg" alt="Logo-Faba-Store" class="logo-Faba-Store">
        </div>
    </a>

        <section class="lupa-e-iconos">
           <div class="box-buscador-header">
            <form>
                <input type="search" placeholder=" Buscá Productos, Marcas y Categorías..." class="buscador">
            </form>
            </div>

            <div class="box-iconos-header">
                    <a href="/productCart" ><i class="fas fa-shopping-cart iconos-header" ></i></a>
                    <a href="/register" ><i class="fas fa-user-circle iconos-header" ></i></a>
                    <a href="/login" ><i class="fas fa-sign-in-alt iconos-header"></i></a>
            </div>
     
        </section>

</header>