<section class="producto-x">
    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
        <i class="far fa-caret-square-down"></i>
        <i class="far fa-caret-square-up"></i>
        <i class="fas fa-exchange-alt"></i>
        <i class="far fa-window-close"></i>
    </div>

    <div class="img-producto-cart">
        <img class="jpg-producto" src="img/img-macbook-pro-2019.png" alt="macbook">
    </div>
    

    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
        <p class="nombre-producto-cart">Macbook pro 2019</p>

        <div class="stock-d">
            <p>Stock disponible </p> 
            <i class="far fa-check-circle"></i> 
        </div>

        <div class="box-producto-cant">                      <!--Botones cantidad-->
            <p>Cantidad</p>
            <div class="botones-producto-cant"> 
                <i class="far fa-minus-square"></i>
                <input type="number" min="1" max="30"class="cant-productos">
                <i class="far fa-plus-square"></i>
            </div>
            
        </div>
    
        <div class="precio-cart">
            <p>Precio</p>
            <p>1000$</p>
        </div>

    </div>


</section>

<section class="producto-y"> <!-- Producto armado compu-->
    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
        <i class="far fa-caret-square-down"></i>
        <i class="far fa-caret-square-up"></i>
        <i class="fas fa-exchange-alt"></i>
        <i class="far fa-window-close"></i>
    </div>

    <div class="img-producto-cart">
        <img class="jpg-producto" src="img/armado-pc-producto.png" alt="armado-pc">
    </div>
    

    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
        <p class="nombre-producto-cart">Armado de la computadora</p>

        <div class="stock-d">
            <p>Stock disponible </p> 
            <i class="far fa-check-circle"></i> 
        </div>

        <div class="box-producto-cant">                      <!--Botones cantidad-->
            <p>Cantidad</p>
            <div class="botones-producto-cant"> 
                <i class="far fa-minus-square"></i>
                <input type="number" min="1" max="30" class="cant-productos">
                <i class="far fa-plus-square"></i>
            </div>
            
        </div>
    
        <div class="precio-cart">
            <p>Precio</p>
            <p>1000$</p>
        </div>

    </div>


</section>