<% for( let i = 0; i < carrito.length; i++ ) { %>


<section class="producto-x">
    
    <div class="img-producto-cart">
        <img class="jpg-producto" src=/img/<%=carrito[i].img%> alt="">
    </div>
    

    <div class="bloque-descripcion">   

        <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
            <i class="far fa-caret-square-down"></i>
            <i class="far fa-caret-square-up"></i>
            <i class="fas fa-exchange-alt"></i>
            <i class="far fa-window-close"></i>
        </div>

        <div>
        <p class="nombre-producto-cart"><%= carrito[i].modelo %></p>
        <div class="box-producto-cant">                      <!--Botones cantidad-->
            <p>Cantidad</p>
            <div class="botones-producto-cant"> 
                <i class="far fa-minus-square"></i>
                <input type="number" min="1" max="30"class="cant-productos" value="1">
                <i class="far fa-plus-square"></i>
            </div>
            
        </div>
    
        <div class="precio-cart"> 
                <p>Precio: </p>
                <p><%=carrito[i].precio%>$</p>
                
        </div>
        </div>
    </div>


</section>
<br>
<% } %>