<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>fabaStore</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>

    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <header>
        <div class="main-header">
            <div>Logo de la compañía</div>
            <div>Barra de búsqueda</div>
                <ul>
                    <li><a href="/productCart">carrito de Compras (con link al carrito)<i class="fas fa-credit-card"></i></a></li>
                    <li><a href="/register">Logo usuario para registrarse (con link a registrarse)<i class="fas fa-user-circle"></i></a></li>
                </ul>
            <nav class="main-navbar">   <!-- Bautista-->
                <ul>
                    List de Items que van en la nav-bar
                </ul>
            </nav>
        </div>
    </header>
    <br/>

    <section class="banner">
        <div class="content-wrapper">
            <div class="info-banner">
                <h2>Bienvenido a fabaStore!!</h2>
                <p>El primer paso para convertirte en un verdadero gamer</p>
                <a href="#">Contactanos</a>
            </div>
        </div>
    </section>
    <br/>

    <main>
        <section class="barra-y-main">
            <section class="barra-lateral"> <!-- Amado-->
                <a href="#">Arma tu pc</a>
                <a href="#">Almacenamiento</a>
                <a href="#">Auriculares</a>
                <a href="#">Cables</a>
                <a href="#">Combo actualizacion</a>
                <a href="#">Coolers</a>
                <a href="#">Fuentes de poder</a>
                <a href="#">Gabinetes</a>
                <a href="#">Memorias ram</a>
                <a href="#">Microfonos</a>
                <a href="#">Monitores y televisores</a>
                <a href="#">Motherboards</a>
                <a href="#">Mouses</a>
                <a href="#">Parlantes</a>
                <a href="#">Placas de video</a>
                <a href="#">Sillas gamer</a>
                <a href="#">Teclados</a>
                <a href="#">Webcams</a>
            </section>
           
    
            <section class="cambiale-el-nombre-al-que-quieras"> <!--Axel -->
                main
            </section>

        </section>
    </main>  
    
    
    <br/>


    <footer>
        <section class="información-adicional">
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="footer-titulo">Información</h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Política de privacidad</p>
                <p class="texto-footer">Servicios IT</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="footer-titulo">Servicio al Cliente</h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Devoluciones</p>
                <p class="texto-footer">Dónde encontrarnos</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="footer-titulo">Mi Cuenta</h4>
                <p class="texto-footer">Mi Cuenta</p>
                <p class="texto-footer">Newlsetter</p>
                <p class="texto-footer">Mis Pedidos</p>
            </article>
            <section class="footer-logos">
                <article>
                    <div class="imagen-footer">
                        <i class="fab fa-facebook"></i>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer">
                        <i class="fab fa-instagram"></i>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer">
                        <i class="far fa-envelope"></i>
                    </div>
                </article>
            </section>
        </section>
        <br/>
        <article>
            <p class="copyright">Copyright © 2021 fabaStore S.R.L.</p>
        </article>
    </footer>
    
</body>
</html>