<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>fabaStore</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>

    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <header>
        <div class="main-header">
            <div>Logo de la compañía</div>
            <div>Barra de búsqueda</div>
            <ul>
                <li><a href="/productCart">carrito de Compras (con link al carrito)<i class="fas fa-credit-card"></i></a></li>
                <li><a href="/register">Logo usuario para registrarse (con link a registrarse)<i class="fas fa-user-circle"></i></a></li>
            </ul>
            <nav class="main-navbar">
                <ul>
                    List de Items que van en la nav-bar
                </ul>
            </nav>
        </div>
    </header>
    <br/>

    <section>Incluir el banner rotativo acá</section>
    <br/>

    <main>
        Productos y demás en el main
    </main>  
    <br/>
    <footer>

    </footer>
</body>
</html>