<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="body-index">
    <%- include('./partials/header') %>
    
<main class="main-register-login">

    <section class="section-formulario-login">

        <form action="/login" method="POST" id = "formulario" class="form-registro">

            <p class="iniciar-sesion-tamañano" >Iniciar Sesión</p>
            <div class="errores">
                <ul></ul>
            </div>
            <div class="control-form">
                <input type="text" name="email" id="email" placeholder="Correo Electrónico" class="control" >
                <p id="error-email" class="error-formulario"> El campo debe estar Completo y ser un Email valido</p>
                <% if (locals.errors && errors.email) { %>
                    <div>
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-form">
                <input type="password" name="password" id="password" placeholder="Contraseña" class="control">
                <p id="error-password" class="error-formulario"> El campo debe estar Completo y tiene que contener al menos 1 caracteres</p>
            </div>
            <div class="control-form mensaje-Formulario-no-exito" id="mensaje-Formulario-no-exito">
                <p>Por favor rellenar el registro correctamente</p>
            </div>
            <div class="control-form">
                <button type="submit" class="botton">Iniciar Sesión<nav></nav></button>
            </div>
            <div class="control-form">
                <label for="recordame">recordame</label>
                <input type="checkbox" name="recordame"checked>
            </div>
            <ul class="logos-login-redes-sociales">

                <li class="autologin-icono-lista">
                    <a href="https://www.facebook.com/login">
                        <i class="fab fa-facebook icono-autologin"></i>
                    </a>
                    <p class="auto-login-p">Inicia Sesión con Facebook</p>
                </li>
                
                <li class="autologin-icono-lista">
                    <a href="https://gmail.com/">
                    <i class="far fa-envelope icono-autologin"></i>
                    </a>
                    <p class="auto-login-p">Inicia sesion con Gmail</p>
                </li>
            </ul>
            <p class="iniciar-sesion-tamañano">¿No tienes una cuenta?<a href="register"> Regístrate</a></p>
        </form>
    </section>


</main>
    <br/>
    <%- include('./partials/footer') %>
    <script src="/js/validacionLoginFront.js"></script>
</body>