<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="body-index">
    <%- include('./partials/header') %>
    
    <section class="container-banner">
        <div class="banner"> </div>
    </section>

<main class="main-register-login">

    <section class="section-formulario-login">

        <form action="/login" method="POST" class="form-registro">

            <p class="iniciar-sesion-tamañano" >Iniciar Sesión</p>

            <div class="control-form">
                <input type="text" name="email" placeholder="Correo Electrónico" class="control" required>
                <% if (locals.errors && errors.email) { %>
                    <div>
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-form">
                <input type="password" name="password" placeholder="Contraseña" class="control">
            </div>

            <div class="control-form">
                <button type="submit" class="botton">Iniciar Sesión<nav></nav></button>
            </div>
            
            <ul class="logos-login-redes-sociales">

                <li class="autologin-icono-lista">
                    <a href="https://www.facebook.com/login">
                        <i class="fab fa-facebook icono-autologin"></i>
                    </a>
                    <p class="auto-login-p">Inicia Sesión con Facebook</p>
                </li>
                
                <li class="autologin-icono-lista">
                    <a href="https://gmail.com/">
                    <i class="far fa-envelope icono-autologin"></i>
                    </a>
                    <p class="auto-login-p">Inicia sesion con Gmail</p>
                </li>
            </ul>
            <p class="iniciar-sesion-tamañano">¿No tienes una cuenta?<a href="register"> Regístrate</a></p>
        </form>
    </section>


</main>
    <br/>
    <%- include('./partials/footer') %>
</body>