<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>
    <br/>

    <section class="banner">
        <div class="content-wrapper">
            <div class="info-banner">
                <h2>Bienvenido a fabaStore!!</h2>
                <p>El primer paso para convertirte en un verdadero gamer</p>
                <a href="#">Contactanos</a>
            </div>
        </div>
    </section>
    <br/>

    <main class="main-detalle-de-lproducto">
     <section>
         <div class="ficha">
            <div class="izquierda">
                <h2 class="estilo-Titulo-DP">Mouse de juego Logitech G Series Hero 16K G502 negro</h2>
                <div>
                    <img src="/img/mouseG502.png" class="imagen-Produc-Detail">
                </div>
                <div class="estilos-Especificaciones-DP">
                    <h3 class="tamaño-h3-DP">Especificaciones</h5>
                    <ul class="tamaño-ul-DP">
                        <li class="distancia-Especificaciones"> <p>Marca</p> <span>Logitech</span></li>
                        <li class="distancia-Especificaciones"> <p>Modelo</p> <span>G502</span></li>
                        <li class="distancia-Especificaciones"> <p>Con Cable</p> <span>Si</span></li>
                        <li class="distancia-Especificaciones"> <p>Tipo de sensor</p> <span>Hero 25K</span> </li>
                        <li class="distancia-Especificaciones"> <p>Resolución de sensor</p> <span>0 - 25000 DPI</span></li>
                        <li class="distancia-Especificaciones"> <p>Cantidad de botones</p> <span> 11</span></li>
                        <li class="distancia-Especificaciones"> <p>Color</p> <span>Negro</span> </li>
                        <li class="distancia-Especificaciones"> <p>Peso</p> <span>114gr</span> </li>
                        <li class="distancia-Especificaciones"> <p>incluye pesas</p> <span>Si</span> </li>
                    </ul>
                </div>
            </div>
            <div class="derecha">
                <div class="estilos-Precio-DP">
               <h1 class="Precio-DP">$5400</h1>
               <h1 class="titulos-h1"> Efectivo</h1>
               <h3 class="Precio-DP">$6400 </h3>
               <h3 class="titulos-h3">precio de lista</h3>
                </div>
                <div class="info-ficha-cuotas">
                    <div class="iconos-DP">
                        <i class="fas fa-credit-card iconos-DP-tamaño"></i>
                    </div>
                    <div>
                        <p>12 x $533,33 sin interés</p>
                        <p class="tamaño-texto-DP">Precio de lista</p>
                        <button type="button" class="boton-DP">Ver cuotas</button>
                    </div>
                </div>
                <div class="info-ficha-envios">
                    <div class="iconos-DP">
                        <i class="fas fa-shipping-fast iconos-DP-tamaño"></i>
                    </div>
                    <div>
                        <p>Envío a todo el país</p>
                        <p class="tamaño-texto-DP">Recibílo en tu domicilio rápido y seguro</p>
                        <button type="button" class="boton-DP">Ver costo de envío</button>
                    </div>
                </div>
                <div class="info-ficha-retirar">
                    <div class="iconos-DP">
                        <i class="fas fa-map-marked-alt iconos-DP-tamaño"></i>
                    </div>
                    <div>
                        <p>Podés retirarlo aquí</p>
                    </div>
                </div>
                <div class="info-ficha-stock">
                    <div class="iconos-DP">
                        <i class="fas fa-check-circle color-icono-stock" ></i>
                    </div>
                    <div>
                        <p class="color-stock">Stock disponible</p>
                    </div>
                </div>
                <div class="cantidad-producto">
                    <button type="button" class="boton-DP-menos"><i class="fas fa-minus"></i></button>
                    <input type="number" min="1" max="99999" class="texto-cantidad-producto">
                    <button type="button" class="boton-DP-mas"><i class="fas fa-plus"></i></i></button>
                </div>
                <div class="productos-agregar-comprar">
                    <button type="button" class="boton-agregar-comprar-carrito"> Agregar al carrito </button>
                    <button type="button" class="boton-agregar-comprar-carrito"> Comprar ahora</button>
                </div>
            </div>
         </div>
     </section>
    </main>  
    
    
    <br/>

    <%- include('./partials/footer') %>
    
</body>
</html>