<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>fabaStore</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/stylesProductDetail.css"/>
</head>
<body class="body-index">
    <header>
        <a href="/" > <div class="box-logo-faba-store">
            <img src="img/logo-faba-dimensionado.jpg" alt="Logo-Faba-Store" class="logo-Faba-Store">
            </div></a>
    
            <section class="lupa-e-iconos">
               <div class="box-buscador-header">
                <form>
                    <input type="search" placeholder=" Buscá Productos, Marcas y Categorías..." class="buscador">
                </form>
                </div>
    
                <div class="box-iconos-header">
                        <a href="/productCart" ><i class="fas fa-shopping-cart iconos-header" ></i></a>
                        <a href="/register" ><i class="fas fa-user-circle iconos-header" ></i></a>
                        <a href="/login" ><i class="fas fa-sign-in-alt iconos-header"></i></a>
                </div>
         
            </section>
    </header>
    <br/>

    <section class="banner">
        <div class="content-wrapper">
            <div class="info-banner">
                <h2>Bienvenido a fabaStore!!</h2>
                <p>El primer paso para convertirte en un verdadero gamer</p>
                <a href="#">Contactanos</a>
            </div>
        </div>
    </section>
    <br/>

    <main class="main-detalle-de-lproducto">
     <section>
         <div class="ficha">
            <div class="izquierda">
                <h2 class="estilo-Titulo-DP">Mouse de juego Logitech G Series Hero 16K G502 negro</h2>
                <div>
                    <img src="/img/mouseG502.jpg" class="imagen-Produc-Detail">
                </div>
                <div class="estilos-Especificaciones-DP">
                    <h3 class="tamaño-h3-DP">Especificaciones</h5>
                    <ul class="tamaño-ul-DP">
                        <li class="distancia-Especificaciones"> <p>Marca</p> <span>Logitech</span></li>
                        <li class="distancia-Especificaciones"> <p>Modelo</p> <span>G502</span></li>
                        <li class="distancia-Especificaciones"> <p>Con Cable</p> <span>Si</span></li>
                        <li class="distancia-Especificaciones"> <p>Tipo de sensor</p> <span>Hero 25K</span> </li>
                        <li class="distancia-Especificaciones"> <p>Resolución de sensor</p> <span>0 - 25000 DPI</span></li>
                        <li class="distancia-Especificaciones"> <p>Cantidad de botones</p> <span> 11</span></li>
                        <li class="distancia-Especificaciones"> <p>Color</p> <span>Negro</span> </li>
                        <li class="distancia-Especificaciones"> <p>Peso</p> <span>114gr</span> </li>
                        <li class="distancia-Especificaciones"> <p>incluye pesas</p> <span>Si</span> </li>
                    </ul>
                </div>
            </div>
            <div class="derecha">
                <div class="estilos-Precio-DP">
               <h1 class="Precio-DP">$5400</h1>
               <h1 class="titulos-h1"> Efectivo</h1>
               <h3 class="Precio-DP">$6400 </h3>
               <h3 class="titulos-h3">precio de lista</h3>
                </div>
                <div class="info-ficha-cuotas">
                    <div class="iconos-DP">
                        <i class="fas fa-credit-card iconos-DP-tamaño"></i>
                    </div>
                    <div>
                        <p>12 x $533,33 sin interés</p>
                        <p class="tamaño-texto-DP">Precio de lista</p>
                        <button type="button" class="boton-DP">Ver cuotas</button>
                    </div>
                </div>
                <div class="info-ficha-envios">
                    <div class="iconos-DP">
                        <i class="fas fa-shipping-fast iconos-DP-tamaño"></i>
                    </div>
                    <div>
                        <p>Envío a todo el país</p>
                        <p class="tamaño-texto-DP">Recibílo en tu domicilio rápido y seguro</p>
                        <button type="button" class="boton-DP">Ver costo de envío</button>
                    </div>
                </div>
                <div class="info-ficha-retirar">
                    <div class="iconos-DP">
                        <i class="fas fa-map-marked-alt iconos-DP-tamaño"></i>
                    </div>
                    <div>
                        <p>Podés retirarlo aquí</p>
                    </div>
                </div>
                <div class="info-ficha-stock">
                    <div class="iconos-DP">
                        <i class="fas fa-check-circle color-icono-stock" ></i>
                    </div>
                    <div>
                        <p class="color-stock">Stock disponible</p>
                    </div>
                </div>
                <div class="cantidad-producto">
                    <button type="button" class="boton-DP-menos"><i class="fas fa-minus"></i></button>
                    <input type="number" min="1" max="99999" class="texto-cantidad-producto">
                    <button type="button" class="boton-DP-mas"><i class="fas fa-plus"></i></i></button>
                </div>
                <div class="productos-agregar-comprar">
                    <button type="button" class="boton-agregar-carrito"> Agregar al carrito </button>
                    <button type="button" class="boton-comprar-ahora"> Comprar ahora</button>
                </div>
            </div>
         </div>
     </section>
    </main>  
    
    
    <br/>


    <footer>
        <section class="información-adicional">
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="footer-titulo"><a href="#" class="footer-titulo">Información</a></h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Política de privacidad</p>
                <p class="texto-footer">Servicios IT</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="footer-titulo"><a href="#" class="footer-titulo">Servicio al Cliente</a></h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Devoluciones</p>
                <p class="texto-footer">Dónde encontrarnos</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="footer-titulo"><a a href="#" class="footer-titulo">Mi Cuenta</a></h4>
                <p class="texto-footer">Mi Cuenta</p>
                <p class="texto-footer">Newlsetter</p>
                <p class="texto-footer">Mis Pedidos</p>
            </article>
            <section class="footer-logos">
                <article>
                    <div class="imagen-footer"><a href="https://www.facebook.com/login">
                        <i class="fab fa-facebook logos-i"></i></a>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer"><a href="https://www.instagram.com/">
                        <i class="fab fa-instagram logos-i"></i></a>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer"><a href="https://outlook.live.com/owa/">
                        <i class="far fa-envelope logos-i"></i></a>
                    </div>
                </article>
            </section>
        </section>
        <br/>
        <article>
            <p class="copyright">Copyright © 2021 fabaStore S.R.L.</p>
        </article>
    </footer>
    
</body>
</html>