<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesProductCart.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <!--Hacer header-->
    </header>

    <main>
        <section class="Productos">
            <section class="Producto-x">
                <img class="jpg-producto" src="img/img-macbook-pro-2019.jpg" alt="macbook">

                <div class="bloque-descripcion">
                    <div class="descripcion-producto">
                        <p class="Nombre-producto">Macbook pro 2019</p>
                        <div>
                            <p class="Stock">Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>
                        <br>
                        <p class="Precio">Precio 1000$</p>
                   
                    </div>
                    <div class="botones-producto">
                           <p>Cantidad</p>
                           <button><i class="far fa-minus-square"></i></button>
                           <input type="text" class="cant-productos">
                           <button><i class="far fa-plus-square"></i></button>
                    </div>
                </div>
                <div>
                    <button><i class="fas fa-exchange-alt"></i></button>
                    <button><i class="far fa-window-close"></i></button>
                </div>
            </section>

        <!-- Separador    -->
        --------------------------------------------------------------------------
        <section class="Producto-x">
            <img class="jpg-producto" src="img/img-macbook-pro-2019.jpg" alt="macbook">
            <div class="bloque-descripcion">
                <div class="descripcion-producto">
                    <p class="Nombre-producto">Macbook pro 2019</p>
                    <div>
                        <p class="Stock">Stock disponible </p> 
                        <i class="far fa-check-circle"></i> 
                        <br>
                        <p class="Precio">Precio 1000$</p>
                </div>
               
                </div>
           
                <div class="botones-producto">
                    <p>Cantidad</p>
                    <button><i class="far fa-minus-square"></i></button>
                    <input type="text" class="cant-productos">
                    <button><i class="far fa-plus-square"></i></button>
                </div>  
            </div>
            <div>
                <button><i class="fas fa-exchange-alt"></i></button>
                <button><i class="far fa-window-close"></i></button>
            </div>
        </section>
        <!-- Separador    -->
        ----------------------------------------------------------------
        <section class="Producto-x">
            <img class="jpg-producto" src="img/armado-pc-producto.png" alt="macbook">
            <div class="bloque-descripcion">
                <div class="descripcion-producto">
                    <p class="Nombre-producto">Armado de la computadora</p>
                    <br>
                        <p class="Precio">Precio 1000$</p>
            <div>
                <button><i class="far fa-window-close"></i></button>
            </div>
        </section>
    </section>
    <!-- Separador    -->

        <div class="right-bar-pago">
            <!-- consumidor final    -->
            consumidor final
            <br>
            <!-- total productos    -->
            total productos
            <br>
            <!-- Metodo de pago      -->
            Metodo de pago
            <br>
            <!-- envio    -->
            envio
            <br>
            <!-- Total a pagar  -->
            Total a pagar
        </div>

    </main>

    <footer>

            <!--Hacer header-->


    </footer>


</body>
</html>