<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="body-productCart">
    
    <%- include('./partials/header') %>
    
    <section class="container-banner">
        <div class="banner"> </div>
    </section>

    <main class="main-productCart">
        <div class="mi-compra">
            <h1>Mi compra</h1>
        </div>
        <section class="box-compra">
            <section class="Productos">
                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png" alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="number" min="1" max="30"class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-y"> <!-- Producto armado compu-->
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/armado-pc-producto.png" alt="armado-pc">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Armado de la computadora</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="number" min="1" max="30" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>
                
                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="number" min="1" max="30" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="number" min="1" max="30" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt cambio-producto"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="number" min="1" max="30" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="number" min="1" max="30" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>
   

            </section> <!--Fin seccion productos-->



            <section class="box-right-bar-pago">    <!-- Box izquierdo de pago-->
                <section class="box-pago">
                    <div class="metodo-pago">                                   <!--Boton select metodo pago-->
                        <p class="select">Metodo de pago:</p> 
                        <select class="select-button"name="select">
                            <option value="Efectivo" selected>Efectivo</option>
                            <option value="Tarjeta de credito">Tarjeta de credito</option>
                            <option value="Tarjeta de debito">Tarjeta de debito</option>
                            <option value="Mercadopago">Mercadopago</option>
                            <option value="Brubank">Brubank</option>
                            <option value="Metamask">Metamask</option>
                            <option value="Metamask">Binance</option>
                        </select>
                    </div>

                    <div class="forma-de-envio">    <!-- radio button forma de envio-->
                            <p class="select">Forma de envio</p>
                            <select class="select-button" name="select">
                                <option value="Envio a domicilio">Envio a domicilio</option>
                                <option value="Retiro por el local">Retiro por el local</option>
                            </select>                      
                   </div>
                    <div class="total-precio">
                        <p>Total a pagar</p>
                        <p class="total-precio-num">7000$</p>
                    </div>

                    <div class="boton-comprar">
                        
                        <button type="button" class="boton-productCart"> Confirmar compra <i class="far fa-check-circle"></i></button>
                        
                    </div>
                </section>
             </section>
        
             
        </section>
    

    </main>

<%- include('./partials/footer') %>
</body>
</html>