<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesProductCart.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Carrito de compras</title>
</head>

<body>
    <header>
        <br>
        <br>
        <br>
        <h1>HEADER</h1>
    </header>

    <main>
        <h1>Mi compra</h1>
        <section class="box-compra">
        <section class="Productos">
            <section class="Producto-x">
                
                <div class="buttons-close-change">                      <!--Botones cambiar y quitar de lel carrito-->
                    <button><i class="fas fa-exchange-alt"></i></button>
                    <button><i class="far fa-window-close"></i></button>
                </div>

                <img class="jpg-producto" src="img/img-macbook-pro-2019.jpg" alt="macbook">

                <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                    <p class="Nombre-producto">Macbook pro 2019</p>

                    <div class="stock-d">
                        <p>Stock disponible </p> 
                        <i class="far fa-check-circle"></i> 
                    </div>

                    <div class="botones-producto">                      <!--Botones cantidad-->
                        <p>Cantidad</p>
                        <div>
                            <button><i class="far fa-minus-square"></i></button>
                            <input type="text" class="cant-productos">
                            <button><i class="far fa-plus-square"></i></button>
                        </div>
                        
                    </div>
                    
                    <div class="Precio">
                        <p>Precio</p>
                        <p>1000$</p>
                    </div>
            
                </div>


            </section>


            <section class="Producto-x">
                <div class="buttons-close-change">
                    <button><i class="far fa-window-close"></i></button>
                </div>
                    <img class="jpg-producto" src="img/armado-pc-producto.png" alt="macbook">
                
                <div class="bloque-descripcion">
                    <div class="descripcion-producto">
                        <p class="Nombre-producto">Armado de la computadora</p>
                    </div>
                    <br>
                    <div class="Precio">
                        <p>Precio</p>
                        <p>1000$</p>
                    </div>
            </section>
   
   
        </section>

        <section class="right-bar-pago">
            <div class="metodo-pago">                                   <!--Boton select metodo pago-->
                 <p class="select">Metodo de pago:</p> 
                    <select class="select "name="select">
                        <option value="Efectivo" selected>Efectivo</option>
                        <option value="Tarjeta de credito">Tarjeta de credito</option>
                        <option value="Tarjeta de debito">Tarjeta de debito</option>
                        <option value="Mercadopago">Mercadopago</option>
                        <option value="Brubank">Brubank</option>
                        <option value="Metamask">Metamask</option>
                        <option value="Metamask">Binance</option>
                    </select>
            </div>

            <div>    <!-- radio button forma de envio-->
                <label>Forma de envio<label>
                <br>
                <input type="radio" name="envio" value="retiro">Retiro por el local</label>
                <input type="radio"  name="envio" value="envio">Envio a domicilio</label>
            </div>

            <p>Total a pagar</p>

            <div class="boton-comprar">
                <input type="submit" name="submit" value="Comprar">
            </div>
            

            
        </section>
    

    </main>

    <footer>
        <section class="información-adicional">
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="footer-titulo">Información</h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Política de privacidad</p>
                <p class="texto-footer">Servicios IT</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="footer-titulo">Servicio al Cliente</h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Devoluciones</p>
                <p class="texto-footer">Dónde encontrarnos</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="footer-titulo">Mi Cuenta</h4>
                <p class="texto-footer">Mi Cuenta</p>
                <p class="texto-footer">Newlsetter</p>
                <p class="texto-footer">Mis Pedidos</p>
            </article>
            <section class="footer-logos">
                <article>
                    <div class="imagen-footer">
                        <i class="fab fa-facebook"></i>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer">
                        <i class="fab fa-instagram"></i>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer">
                        <i class="far fa-envelope"></i>
                    </div>
                </article>
            </section>
        </section>
        <br/>
            <article>
                <p class="copyright">Copyright © 2021 fabaStore S.R.L.</p>
            </article>
    </footer>
</body>
</html>