<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/stylesProductCart.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Carrito de compras</title>
</head>

<body class="body-productCart">
    <header>
        <section class="seccionHeader">
            
            <a href="/index" class="tamañologo">
                <img src="img/logo-faba-dimensionado.jpg" alt="" class="logoHeader">
            </a>
            

            <section class="lupa-e-iconos">
                <form class="tamañoBuscador">
                    <input type="search" placeholder=" Buscá Productos, Marcas y Categorías..." class="buscador">
                </form>
                <div class="iconos-header">
                    <ul class="flexProductoYRegistro">
                        <li class="paddingIconos"><a href="/productCart" ><i class="fas fa-shopping-cart diseñoIcono"></i></a></li>
                        <li class="paddingIconos"><a href="/register" ><i class="fas fa-user-circle diseñoIcono" ></i></a></li>
                        <li class="paddingIconos"><a href="/login" ><i class="fas fa-sign-in-alt diseñoIcono"></i></a></li>
                    </ul>
                </div>
            </section>
        </section>
    </header>
    <main class="main-productCart">
        <div class="mi-compra">
            <h1>Mi compra</h1>
        </div>
        <section class="box-compra">
            <section class="Productos">
                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png" alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="text" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-y"> <!-- Producto armado compu-->
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/armado-pc-producto.png" alt="armado-pc">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Armado de la computadora</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="text" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>
                
                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="text" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="text" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt cambio-producto"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="text" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>

                <section class="producto-x">
                    <div class="buttons-close-change-minimize">                      <!--Botones cambiar y quitar de lel carrito-->
                        <i class="far fa-caret-square-down"></i>
                        <i class="far fa-caret-square-up"></i>
                        <i class="fas fa-exchange-alt"></i>
                        <i class="far fa-window-close"></i>
                    </div>

                    <div class="img-producto-cart">
                        <img class="jpg-producto" src="img/img-macbook-pro-2019.png
                        " alt="macbook">
                    </div>
                    

                    <div class="bloque-descripcion">                        <!--Descripcion del pro-->
                        <p class="nombre-producto-cart">Macbook pro 2019</p>

                        <div class="stock-d">
                            <p>Stock disponible </p> 
                            <i class="far fa-check-circle"></i> 
                        </div>

                        <div class="box-producto-cant">                      <!--Botones cantidad-->
                            <p>Cantidad</p>
                            <div class="botones-producto-cant"> 
                                <i class="far fa-minus-square"></i>
                                <input type="text" class="cant-productos">
                                <i class="far fa-plus-square"></i>
                            </div>
                            
                        </div>
                    
                        <div class="precio-cart">
                            <p>Precio</p>
                            <p>1000$</p>
                        </div>
            
                    </div>


                </section>
   

            </section> <!--Fin seccion productos-->



            <section class="box-right-bar-pago">    <!-- Box izquierdo de pago-->
                <section class="box-pago">
                    <div class="metodo-pago">                                   <!--Boton select metodo pago-->
                        <p class="select">Metodo de pago:</p> 
                        <select class="select-button"name="select">
                            <option value="Efectivo" selected>Efectivo</option>
                            <option value="Tarjeta de credito">Tarjeta de credito</option>
                            <option value="Tarjeta de debito">Tarjeta de debito</option>
                            <option value="Mercadopago">Mercadopago</option>
                            <option value="Brubank">Brubank</option>
                            <option value="Metamask">Metamask</option>
                            <option value="Metamask">Binance</option>
                        </select>
                    </div>

                    <div class="forma-de-envio">    <!-- radio button forma de envio-->
                            <p class="select">Forma de envio</p>
                            <select class="select-button" name="select">
                                <option value="Envio a domicilio">Envio a domicilio</option>
                                <option value="Retiro por el local">Retiro por el local</option>
                            </select>                      
                   </div>
                    <div class="total-precio">
                        <p>Total a pagar</p>
                        <p class="total-precio-num">7000$</p>
                    </div>

                    <div class="boton-comprar">
                        
                        <a href="#" >Confirmar compra  <i class="far fa-check-circle"></i></a>
                    </div>
                </section>
             </section>
        
        
        </section>
    

    </main>

    <footer>
        <section class="información-adicional">
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="footer-titulo"><a href="#" class="footer-titulo">Información</a></h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Política de privacidad</p>
                <p class="texto-footer">Servicios IT</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="footer-titulo"><a href="#" class="footer-titulo">Servicio al Cliente</a></h4>
                <p class="texto-footer">Contáctenos</p>
                <p class="texto-footer">Devoluciones</p>
                <p class="texto-footer">Dónde encontrarnos</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="footer-titulo"><a a href="#" class="footer-titulo">Mi Cuenta</a></h4>
                <p class="texto-footer">Mi Cuenta</p>
                <p class="texto-footer">Newlsetter</p>
                <p class="texto-footer">Mis Pedidos</p>
            </article>
            <section class="footer-logos">
                <article>
                    <div class="imagen-footer"><a href="https://www.facebook.com/login">
                        <i class="fab fa-facebook logos-i"></i></a>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer"><a href="https://www.instagram.com/">
                        <i class="fab fa-instagram logos-i"></i></a>
                    </div>
                </article>
                <br/>
                <article>
                    <div class="imagen-footer"><a href="https://outlook.live.com/owa/">
                        <i class="far fa-envelope logos-i"></i></a>
                    </div>
                </article>
            </section>
        </section>
        <br/>
        <article>
            <p class="copyright">Copyright © 2021 fabaStore S.R.L.</p>
        </article>
    </footer>
</body>
</html>