<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="body-index">
    <%- include('./partials/header') %>
    
    <section class="container-banner">
        <div class="banner"> </div>
    </section>

    "Bienvenido al perfil de usuario"


    <%- include('./partials/footer') %>
</body>