<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="body-index">
    <%- include('./partials/header') %>
    
<main class="main-register-login">
    <div class="errores-div desaparece">
        <% errors.forEach(error=>{ %>   
           <p class="errores-texto">(*) <%= error.msg %> </p>
        <% }) %> 
    </div>

<section class="section-formulario-register">
        
        <form action="/register" method="POST" class="form-registro" id= "formulario" enctype="multipart/form-data">

            <p class="iniciar-sesion-tamañano">Registrarse</p>

            <div class="control-form" >
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="control" >
                <div class="icono-display">
                    <span>
                        <i id="usuario" class="fas fa-times-circle"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-usuario" class="error-formulario"> El usuario tiene que ser entre 2 y 15 digitos y solo puede contener numeros, letras y guion</p>
            </div>
            
            <div class="control-form">
                <input type="email" name="email"  placeholder="E-mail" class="control" >
                <div class="icono-display">
                    <span>
                        <i id="email" class="fas fa-check-circle position-icono"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-email" class="error-formulario"> El campo debe estar Completo y ser un Email valido</p>
            </div>

            <div class="control-form">
                <input type="password" name="password"  id="password1" class="control" placeholder="Contraseña">
                <div class="icono-display">
                    <span>
                        <i id="password" class="fas fa-check-circle position-icono"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-password" class="error-formulario"> El campo debe estar Completo y tiene que contener al menos 8 caracteres</p>
            </div>

            <div class="control-form">
                <input type="password" name="Confpassword" id="confpassword1" class="control" placeholder="Confirmar contraseña" >
                <div class="icono-display">
                    <span>
                        <i id="confpassword"  class="fas fa-check-circle position-icono"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-confpassword" class="error-formulario"> El campo debe estar Completo y las Contraseñas deben ser iguales</p>
            </div>
            <div class="control-form">
                <input type="text" name="nombre" placeholder="Nombre"  class="control"  maxlength="20" minlength="3">
                <div class="icono-display">
                    <span>
                        <i id="nombre" class="fas fa-check-circle position-icono"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-nombre" class="error-formulario"> El campo debe estar Completo y tiene que contener al menos 3 caracteres</p>
            </div>

            <div class="control-form">
                <input type="text" name="apellido" placeholder="Apellido"  class="control"  maxlength="20" minlength="3">
                <div class="icono-display">
                    <span>
                        <i id="apellido" class="fas fa-check-circle position-icono"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-apellido" class="error-formulario"> El campo debe estar Completo y tiene que contener al menos 3 caracteres, solo puede contener letras</p>
            </div>

            <div class="control-form">
                <input type="text" name="domicilio" placeholder="Domicilio"  class="control">
                <div class="icono-display">
                    <span>
                        <i id="domicilio" class="fas fa-check-circle position-icono"></i>
                    </span>
                </div>
            </div>
            <div class="espacio-error">
                <p id="error-domicilio" class="error-formulario"> El campo debe estar Completo y solo puede contener letras y numeros</p>
            </div>

            <div class="control-form">
                <label>Seleccionar una imagen para el perfil:</label>
                <br/>
                <input type="file" id= "avatar" name="avatar" accept="image/png, image/jpeg, image/gif">
            </div>
            <div class="control-form mensaje-Formulario-no-exito" id="mensaje-Formulario-no-exito">
                <p>Por favor rellenar el registro correctamente</p>
            </div>
            <div class="control-form mensaje-Formulario-exito" id="mensaje-Formulario-exito">
                <p>Su registro fue exitoso</p>
            </div>
            <div class="control-form">
                <button type="submit" class="botton">Crear Cuenta</button>
            </div>
            
            <ul class="logos-login-redes-sociales">

                <li class="autologin-icono-lista">
                    <a href="https://www.facebook.com/login">
                        <i class="fab fa-facebook icono-autologin"></i>
                    </a>
                    <p class="auto-login-p">Registrate con Facebook</p>
                </li>
                
                <li class="autologin-icono-lista">
                    <a href="https://gmail.com/">
                    <i class="far fa-envelope icono-autologin"></i>
                    </a>
                    <p class="auto-login-p">Registrate con Gmail</p>
                </li>
            </ul>
            <p class="iniciar-sesion-tamañano ">¿Ya tenés una cuenta?<a href="login"> Inicia Sesión</a></p>
        </form>

</section>

</main>

<%- include('./partials/footer') %>

<script src="/js/validacionDeRegistro.js"></script>
</body>

