<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>
    
    <br/>

    <!--MAIN EN EL QUE SE VAN A AGREGAR LOS PRODUCTOS Y EDITAR LOS YA EXISTENTES-->

    <main class="main-upload-products">
    
        <section class="section-formulario-register">
    
            <form action="/uploadProducts" method="POST" class="form-registro" enctype="multipart/form-data">
    
                <p class="iniciar-sesion-tama単ano">Agregar Producto</p>
                <div class="control-form">
                    <input type="text" name="modelo" placeholder="Nombre de Producto" class="control" required>
                </div>
    
                <div class="control-form">
                    <input type="text" name="marca" placeholder="Marca del Producto" class="control" required>
                </div>

                <div class="control-form">
                    <p class="iniciar-sesion-tama単ano">Tipo de producto</p>
                    <select name="tipoProducto">
                        <option value="Almacenamiento">Almacenamiento</option>
                        <option value="Auriculares">Auriculares</option>
                        <option value="Cables">Cables</option>
                        <option value="Coolers">Coolers</option>
                        <option value="Fuentes de poder">Fuentes de poder</option>
                        <option value="Gabinetes">Gabinetes</option>
                        <option value="Memorias ram">Memorias ram</option>
                        <option value="Microfonos">Microfonos</option>
                        <option value="Microprocesadores">Microprocesadores</option>
                        <option value="Monitores y televisores">Monitores y televisores</option>
                        <option value="Motherboards">Motherboards</option>
                        <option value="Mouses">Mouses</option>
                        <option value="Notebooks">Notebooks</option>
                        <option value="Parlantes">Parlantes</option>
                        <option value="Placas de video">Placas de video</option>
                        <option value="Sillas gamer">Sillas gamer</option>
                        <option value="Teclados">Teclados</option>
                        <option value="Webcams">Webcams</option>
                    </select>
                </div>
                
    
                <div class="control-form">
                    <input type="file" name="img-producto" accept=".jpg" placeholder="Imagen del Producto">
                </div>
    
                <div class="control-form">
                    <input type="text" name="precio" class="control" placeholder="Precio del Producto">
                </div>

                <div class="control-form">
                    <p class="iniciar-sesion-tama単ano">Stock disponible?</p>
                    <select name="stockSn">
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="stock" class="control" placeholder="Cantidad de Stock disponible">
                </div>

                <div class="control-form">
                    <p class="iniciar-sesion-tama単ano">En oferta?</p>
                    <select name="enOfertaSn">
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="ofertaPorcentaje" placeholder="Porcentaje oferta" class="control" required>
                </div>

                <div class="control-form">
                    <input type="text" name="especificaciones" class="control" placeholder="Especificaciones">
                </div>

                <div class="control-form">
                    <button type="submit" class="botton">Crear Producto</button>
                </div>
            </form>
        </section>
    
    </main>

    <br/>

    <%- include('./partials/footer') %>
    
</body>

</html>