<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>
    
    <br/>

    <!--BODY EN EL QUE SE VAN A GREGAR LOS PRODUCTOS Y EDITAR LOS YA EXISTENTES-->


    <br/>

    <%- include('./partials/footer') %>
    
</body>
</html>