<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="body-index">
    <%- include('./partials/header') %>

    <section class="container-banner">
        <div class="banner"> </div>
    </section>
    
    <br/>

    <!--MAIN EN EL QUE SE VAN A AGREGAR LOS PRODUCTOS Y EDITAR LOS YA EXISTENTES-->

    <main class="main-register-login">
    
        <section class="section-formulario-register">
    
            <form action="/uploadProducts" method="POST" class="form-registro">
    
                <p class="iniciar-sesion-tamañano">Agregar Producto</p>
    
                <div class="control-form">
                    <input type="text" name="producto" placeholder="Nombre de Producto" class="control" required>
                </div>
    
                <div class="control-form">
                    <input type="text" name="marca" placeholder="Marca del Producto" class="control" required>
                </div>

                <div class="control-form">
                    <input type="text" name="tipo" placeholder="Tipo de Producto" class="control" required>
                </div>
    
                <div class="control-form">
                    <input type="file" name="avatar" accept=".jpg" placeholder="Imagen del Producto">
                </div>
    
                <div class="control-form">
                    <input type="text" name="precio" class="control" placeholder="Precio del Producto">
                </div>
                
                <div class="iniciar-sesion-tamañano"> Stock disponible</div>

                <div class="control-form">
                    <select name="stock">
                        <option value="Sí">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="stock" class="control" placeholder="Cantidad de Stock disponible">
                </div>

                <div class="iniciar-sesion-tamañano"> En Oferta </div>

                <div class="control-form">
                    <select name="stock">
                        <option value="Sí">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="control-form">
                    <input type="text" name="descuento" class="control" placeholder="Descuento por estar en Oferta (%)">
                </div>

                <div class="control-form">
                    <input type="text" name="precio" class="control" placeholder="Precio con Oferta">
                </div>
    
                <div class="control-form">
                    <input type="text" name="cuotas" placeholder="Cuotas sin Interés" class="control">
                </div>
    
                <div class="control-form">
                    <button type="submit" class="botton">Crear Cuenta</button>
                </div>
            </form>
        </section>
    
    </main>

    <br/>

    <%- include('./partials/footer') %>
    
</body>
</html>