* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.body-index{
        background-color: #05040a;
}

/*
'Montserrat', sans-serif;
*/



header h1{
    text-align: center;
    font-size: 60px;
    color: black;
}

header{
    background-color: black;
}
.logoHeader{
    width: 100%;
}
.tamañologo{
    width: 25%;
}
.seccionHeader{
    display: flex;
    justify-content: space-between;

}
.buscador{
    width: 100%;
    height: 35px;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    border: 0;
    color: #7e7e83;
    cursor: inherit;
}
.tamañoBuscador{
    width: 50%;
    align-self: center;
    position: relative;
    right: 4%;
}
.flexProductoYRegistro{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 8%;
}
.paddingIconos{
    padding: 15px;
}
.diseñoIcono{
    color: white;
   font-size: 2em;
}





/* ACÁ ARRANCO CON EL HEADER BODY*/

main{
    margin: auto;
    max-width: 95vw; 
}

.barra-y-main{
    display: flex;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
}


.barra-lateral{
    width: 15%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    height: 900px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
}

.barra-lateral a:hover{
    background-color: #c238d8;
    color: white;
}

.barra-lateral a{
    font-weight:300;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    color:  #c238d8;
    text-decoration: None;

}

.texto-simple{
    position: relative;
    top: 8px;
    font-weight: 300;
}

.doble-texto{
    top: 5px;
    font-weight: 300;
}



.cambiale-el-nombre-al-que-quieras{
    width: 85%;
    margin: 10px;
    padding: 10px;
    height: 900px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
}

/* ACÁ ARRANCO CON EL BANNER Rotativo*/

.banner {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 420px;
    text-decoration: None;
    background-image: url(/img/banner1.jpg);
    background-position: center;
    background-size: cover;
    transition: all 1s ease-in-out;
    animation: banner 16s infinite linear
}
body .content-wrapper {
    width:85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.banner .content-wrapper {
    width: 100%;
}

.banner .info-banner {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    color: white;
    text-align: center;
    align-items: center;
}

.banner .info-banner h2 {
    font-size: 24px;
    margin-top: 10px;
}

.banner .info-banner p {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
}

.banner .info-banner a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 300ms;
}

.banner .info-banner a:hover {
    background-color: white;
    color: #1cc3fa;
}

@keyframes banner {
    0%{
        background-image: url(/img/banner1.jpg)
    }
    25% {
        background-image: url(/img/banner1.jpg)
    }
    26% {
        background-image: url(/img/banner2.jpg)
    }
    50% {
        background-image: url(/img/banner2.jpg)
    }
    51% {
        background-image: url(/img/banner3.jpg)
    }
    75% {
        background-image: url(/img/banner3.jpg)
    }
    76% {
        background-image: url(/img/img-macbook-pro-2019.jpg)
    }
    100% {
        background-image: url(/img/img-macbook-pro-2019.jpg)
    }
}

/* ACÁ ARRANCO CON EL MAIN BODY*/
main section h1{
    color: #666;
    text-align: center;
}
.img-producto{  /* Te agregue una clase, por que lo tenias como main section img y me rompia el product cart*/
    width: 100%;
    height: 75%;
}
.producto-individual{
    border-radius:15px ;
    position: relative;
    margin: 15px;
    width: 20%;
    border:#8c0674 1px solid;;
}
.producto-individual:hover{
    
    box-shadow: 0 0 20px #c238d8;
}
.descripcion-producto-main{
    border-top: solid 1px #ebebeb;
    width: 100%;
    padding: 15px;
}
.seccion{
    display: flex;
    justify-content: space-around;
    height: 45%;
}
.precio{
color: #666;
font-weight: bold;
}
.descuento{
color: #ff8000;
font-weight: bold;
}
.descripcion{
color: #666;
font-weight: bold;
}




/* ACÁ ARRANCO CON EL FOOTER BODY*/

footer {
    background-color: #180a36;
    width: 100%;
    border-top: 4px solid white;
    padding: 20px;
}

.footer-titulo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color:  #ebebeb;
}

.texto-footer {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    color:  #ebebeb;
}

.imagen-footer {
    font-size: 2em;
    color:  white;
    margin-bottom: 7.5px;
    text-align: center;
    padding: 10px;
}

.copyright {
    font-size: 12px;
    margin: 0;
    color:  #666
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1em;
    color: white;
}

/* CSS del formulario de registro */

.form-registro {
    padding: 25px 15px;
    background-color: #05040a;
    border: 1px solid gray;
    border-width: 60%;
    font-style: normal;
    text-align: center;
    color: #EBEBEB
}

.create-account {
    font-size: 24px;
}

.logos {
    font-size: 40px;
    display: flex;
    justify-content: center;
    list-style: none 
}

.logo-facebook {
    padding: 20px;
}

.logo-message {
    padding: 20px;
}

.control-form {
    margin-bottom: 15px;
}

.control-form label {
    margin-bottom: 10px;
    font-style: italic;
    display: block;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.control-form-login {
    margin-bottom: 15px;
    text-align: center;
}

.control {
    width: 50%;
    padding: 8px;
    color: #EBEBEB
}

.botton {
    background-color:  #2b175f;
    border: none;
    font-size: 12px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 30%;
    align-items: center;
}

.botton-cancelled {
    background-color:  #787c84;
    border: none;
    font-size: 12px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 30%;
    align-items: center;
}

.botton:hover {
    background-color: #180a36;
}

.botton-cancelled:hover {
    background-color: lightgray;
}

.opciones-checkbox {
    color: #EBEBEB
}

/* ACÁ VAN LAS MEDIA QUERIES */

@media (min-width: 360px) {
    .información-adicional {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0px;
        margin: auto;
        width: 100%;
    }
}

@media(min-width:361px) and (max-width:768px){
    .información-adicional {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0px;
        margin: auto;
        width: 100%;
    }
    .botton {
        font-size: 16px;
    }
    .botton-cancelled {
        font-size: 16px;
    }
}


@media (min-width: 769px) {
    .información-adicional {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0px;
        margin: auto;
        width: 100%;
    }
    .botton {
        font-size: 20px;
    }
    .botton-cancelled {
        font-size: 20px;
    }
}