* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}

header{
    background-color: lightgray;
    height: 150px;
}

header h1{
    text-align: center;
    font-size: 60px;
    color: black;
}
/* ACÁ ARRANCO CON EL HEADER BODY*/

main{
    margin: auto;
    max-width: 95vw;  
}

.barra-y-main{
    display: flex;
    border:dashed red 1px;
}

.barra-lateral{
    width: 15%;
    margin: 10px;
    padding: 10px;
    border: dashed black 1px;
    height: 900px;
}

.cambiale-el-nombre-al-que-quieras{
    width: 85%;
    margin: 10px;
    padding: 10px;
    height: 900px;
    border: dashed black 1px;

}


/* ACÁ ARRANCO CON EL MAIN BODY*/





/* ACÁ ARRANCO CON EL FOOTER BODY*/

footer {
    background-color: lightgray;
}

.footer-titulo {
    font-size: 18px;
    text-align: center;
    margin: 0;
    color:  #666;
}

.texto-footer {
    font-size: 12px;
    text-align: center;
    margin: 0;
    color:  #666;
}

.imagen-footer {
    font-size: 2em;
    color:  #1259c3;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.copyright {
    font-size: 12px;
    margin: 0;
    color:  #666;
}

.información-adicional {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

/* CSS del formulario de registro */

.form-registro {
    padding: 20px 15px;
    background-color: lightgray;
    border: 1px solid gray;
    border-width: 60%;
    font-style: normal;
    text-align: center;
}

.create-account {
    font-size: 24px;
}

.logos {
    font-size: 40px;
    display: flex;
    justify-content: center;
    list-style: none 
}

.logo-facebook {
    padding: 20px;
}

.logo-message {
    padding: 20px;
}

.control-form {
    margin-bottom: 15px;
}

.control-form label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.control-form-login {
    margin-bottom: 15px;
    text-align: center;
}

.control {
    width: 50%;
    padding: 8px
}

.botton {
    background-color:  #1259c3;
    border: none;
    font-size: 28px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 50%;
    align-items: center;
}

.botton-cancelled {
    background-color:  rgba(128, 128, 128, 0.842);
    border: none;
    font-size: 28px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 50%;
    align-items: center;
}