/* header*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgray;
    height: 150px;
}

header h1{
    text-align: center;
    font-size: 60px;
    color: black;
}


/*****main******/



main{
    margin: auto;
    max-width: 90vw;
    border:dashed purple 1px;
}

.box-compra{
    display: flex;
    justify-content: center;
}

main h1{
    display: block;
    border: solid darkblue 1px;
}

.Productos{
    flex-grow: 1;
    width: 50%;
    padding: 10px;
    margin: 15px;
    border: 1px red solid;
}

.right-bar-pago{
    width: 50%;
    flex-grow: 1;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px green;
}

.Producto-x{
    display: flex;
    padding: 10px 0 10px 10px;
    margin: 10px;
    border: solid 1px red;
    align-items: flex-start;
    justify-content: space-between;
}

.jpg-producto{
    width: 30%;
}

main section section img{
    align-self: center;
    border: solid 1px rgb(0, 122, 106);
}


.buttons-close-change-minimize{
    max-height: 25px;
    align-self: flex-start;
    order: 3;
    justify-content: flex-end;
}


.bloque-descripcion{
    align-self: center;
    width: 55%;
    max-height: 80%;
    border: 1px red solid;
    
}

.stock-d{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.stock-d i{
    color: green;
}

.Precio{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.botones-producto{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.cant-productos{
    max-width: 30px;
}

.metodo-pago{
    display: flex;
}

.select{
    width: 50%;
}

.boton-comprar{
    align-self: flex-end;
}

/*Media queries*/