body .banner{
    display: none;
}
.imagen-Produc-Detail{
    width: 100%;
    height: 100%;
}
.ficha{
    display: flex;
}
.izquierda{
width: 70%;
background-color: white;
}
.derecha{
width: 30%;
background-color: white;
border-left: solid 1px #ebebeb;
}
.distancia-Especificaciones{
    display: flex;
    justify-content: space-between;
}
.main-detalle-de-lproducto{
width: 85vw ;
}
.tamaño-h3-DP{
    padding: 15px;
}
.tamaño-ul-DP{
    padding: 15px;
}
.Precio-DP{
    padding-top: 29px;
    color: #666;
    text-align: center;
}
.titulos-H1{
    color: #666;
    text-align: center;
}
.titulos-h3{
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}
.estilos-Precio-DP{
    border-bottom: solid 1px #ebebeb;
}
.estilos-Especificaciones-DP{
    border-top: #ebebeb 1px solid;
}
.estilo-Titulo-DP{
    color: #666;
    border-bottom: #ebebeb solid 1px;
}
.info-ficha-cuotas{
    display: flex;
    padding: 10px;
}
.info-ficha-envios{
    display: flex;
    padding: 10px;
}
.info-ficha-retirar{
    display: flex;
    padding: 10px;
}
.info-ficha-stock{
    display: flex;
    padding: 10px;
    border-bottom: solid 1px #ebebeb;
}
.boton-DP{
    border:none;
    background: transparent;
}
.iconos-DP{
    margin-right: 20px;
}
.iconos-DP-tamaño{
    font-size: 20px;
}
.tamaño-texto-DP{
    font-size: 12px;
}
.color-stock{
    color: #00a135;
}
.color-icono-stock{
    color:rgba(0,161,53,.75);
    font-size: 20px;

}
.cantidad-producto{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.boton-DP-menos{
    border:none;
    background: transparent;
    padding: 8px 16px;
    background-color: rgba(126,126,131,.15);
    border-radius: 5px 0 0 5px ;
}
.boton-DP-mas{
    border:none;
    background: transparent;
    padding: 8px 16px;
    background-color: rgba(126,126,131,.15);
    border-radius: 0 5px 5px 0;
}
.texto-cantidad-producto{
    text-align: center;
    border: solid rgba(126,126,131,.15) 1px;
    width: 40%;
}
.productos-agregar-comprar{
    display: flex;
    flex-direction: column;
    width: 57%;
    margin: auto;
}
.boton-comprar-ahora{
    width: 100%;
    border: none;
    background-color:#228cff;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.boton-agregar-carrito{
    width: 100%;
    border: none;
    background-color: rgba(126,126,131,.15);
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}