* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.body-productCart{
background-color: black;
}




/*****main******/


main{
    margin: auto;
    max-width: 90vw;
}

.main-productCart{
 padding: 10px 0 0 0;
 border-radius: 15px;
 background-color: #180a36;
}

.mi-compra{
    display: block;
    margin: 15px;
    border-radius: 10px;
    background-color:#2b175f;

}
.mi-compra h1{
    margin: 15px;
    font-weight: 500;
    color:#8c0674;
}


.box-compra{
    display: flex;
    justify-content: center;
}


.Productos{
    flex-grow: 1;
    width: 50%;
    padding: 10px;
    margin: 15px;
    background-color:#2b175f;
    border-radius: 10px;
}

.right-bar-pago{
    width: 50%;
    flex-grow: 1;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#2b175f;
    border-radius: 10px;
}

.Producto-x{
    display: flex;
    padding: 10px 0 10px 10px;
    margin: 10px;
    border-radius: 15px;
    align-items: flex-start;
    background-color: #8c0674;
    justify-content: space-between;
}

.Producto-x p{
    color: #c238d8;
    font-size: 20px;
    font-weight: 600;
    line-height:28px;
}

.jpg-producto{
    width: 30%;
}

main section section img{
    align-self: center;
}

.buttons-close-change-minimize{
    max-height: 25px;
    align-self: flex-start;
    order: 3;
    justify-content: flex-end;
}


.bloque-descripcion{
    align-self: center;
    width: 55%;
    max-height: 80%;

    
}

.stock-d{
 
    display: flex;
    justify-content: space-between;
}

.stock-d i{
    color: #c238d8;
}

.Precio{
  
    display: flex;
    justify-content: space-between;
}

.botones-producto{
     display: flex;
    justify-content: space-between;
}

.cant-productos{
    max-width: 30px;
}

.metodo-pago{
    display: flex;
}

.select{
    width: 50%;
}

.boton-comprar{
    align-self: flex-end;
}

/*Media queries*/