* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.body-productCart{
background-color: black;
}

/*****main******/


main{
    margin: auto;
    max-width: 90vw;
}

.main-productCart{
 padding: 10px 0 0 0;
 border-radius: 15px;
 background-color: #180a36;
}

.mi-compra{
    display: block;
    margin: 15px;
    border-radius: 10px;
    background-color:#2b175f;

}

.mi-compra h1{
    margin: 15px;
    font-weight: 500;
    color:#8c0674;
}

.box-compra{
    display: flex;
    justify-content: center;
}

.Productos{
    flex-grow: 1;
    width: 50%;
    padding: 10px;
    margin: 15px;
    background-color:#2b175f;
    border-radius: 10px;
}



.Producto-x{
    padding: 10px 0 10px 10px;
    margin: 10px;
    height: 175px;
    border-radius: 15px;
    background-color: #8c0674;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.Producto-x p{
    color: #c238d8;
    font-size: 20px;
    font-weight: 600;
    line-height:28px;
}

.img-producto{
    width: 200px;
    height: 200px;
}

.jpg-producto{
    width: 100%;
}


.buttons-close-change-minimize{
    max-height: 25px;
    position: absolute;
    top:10px;
    right: 10px;
    
}
.buttons-close-change-minimize  i{
    color: #c238d8;
    
}

.buttons-close-change-minimize i:hover{
    color: white;
    
}



.bloque-descripcion{
    width: 55%;
    max-height: 90%;
    margin-right: 25px;

}

.stock-d{
    display: flex;
    justify-content: space-between;

}

.stock-d i{
    font-size: 23px;
    color: #c238d8;
}

.Precio{
    display:flex;
    justify-content: space-between;

}

.precio p{

}

.box-producto-cant{
  display: flex;
  justify-content: space-between;
}

.botones-producto-cant i{
    color: #c238d8;
    font-size: 17px;
}


.botones-producto-cant input[type=text]{
    border:2px solid #c238d8;
    border-radius: 5px;
    outline:none;
    color:#c238d8;
    text-align: center;
    background-color: transparent;
}

.cant-productos{
    width: 30px;
   
}


/*---box metodo pago-----*/
.box-right-bar-pago{
    width: 50%;
    margin: 15px;
    padding: 10px;
    background-color:#2b175f;
    border-radius: 10px;
}

.box-right-bar-pago p , label{
    font-family: 'Montserrat', sans-serif;
    color: #c238d8;
}

.box-pago{
    background-color: #8c0674;
    border-radius: 15px;  
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.metodo-pago{
    display: flex;
    justify-content: space-between;
}

.select{
    width: 50%;  
}
.select-button{
    cursor: pointer;
    border:2px solid #c238d8;
    border-radius: 5px;
    outline:none;
    color:#c238d8;
    text-align: center;
    background-color: transparent;
}

.forma-de-envio{
    display:flex;
    justify-content: space-between;
}