
.main-register-login{
    padding: 10px 0 0 0;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
}

.section-formulario-login{

    padding: 10px;
    margin: 15px;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.form-registro {
    padding: 25px 15px;
    text-align: center; 
  
}

.iniciar-sesion-tamañano {
    font-size: 24px;
    font-style: normal;
    text-align: center;
    color: #c238d8;
}


.autologin-icono-lista{
    padding: 10px;
}

.icono-autologin{
    color: white;
}
.icono-autologin:hover{
    text-shadow: 0 0 20px #c238d8;
    color: white;
}


.logos-login-redes-sociales{
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.control {
    width: 100%;
    padding: 8px;
    border-radius: 40px;
}
.control:focus{
    border:5px solid #c238d8;
    outline: 0;
}

.control-form {
    margin-bottom: 15px;
}


.botton {
    font-size: 20px;
    font-weight: 400;
    transition: color 500ms;
    width: 100%;
    background-color: rgba(43, 23, 95, 0.2);
    border-radius: 5px;
    padding: 8px;
    transition: background-color 500ms;
    color: #c238d8;
    border: 1px solid #c238d8;
}



.botton:hover {
    color: white;
    background-color: #c238d8;
}


.opciones-checkbox {
    color: #EBEBEB
}


.auto-login-p{
    font-size: 10px;
    font-style: normal;
    text-align: center;
    color: #c238d8;
}

/*
register*/



.section-formulario-register{
    
    padding: 10px;
    margin: 15px;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.errores-div{
    margin-bottom: 15px;
    text-align: center;
}

.errores-texto{
    font-size: 15px;
    font-style: normal;
    color: #c238d8;
    
}

.correcto {
    background-color: rgba(6, 250, 6, 0.664);
    color: white
}
.incorrecto {
    background-color: rgba(253, 14, 14, 0.644);
    color: white
}
.error-formulario{
    display: none;
    
}
.error-formulario-activo{
    display: block;
    color: #c238d8;
    padding-top: 5px;
}
.mensaje-Formulario-exito{
    display: none;
}
.mensaje-Formulario-no-exito{
    display: none;
}
.mensaje-Formulario-no-exito-activo{
    display: block;
    color: red;
    padding-top: 5px;
}
.mensaje-Formulario-exito-activo{
    display: block;
    color: rgb(0, 255, 42);
    padding-top: 5px;
}
.desaparece{
    display: none;
}