<h1 class="main-h1"> Ofertas</h1>

<section class="fila-productos">
    <article class="producto-individual">
        <div><img class="img-producto" src="/img/Nvidia3060ti.png"></div>
        
        <div class="descripcion-producto-main">
            <p class="precio"> $182540</p>
            <p class="descuento"> 15% off</p>
            <p class="descripcion"> Asus KO RTX 3060 TI 8gb </p>
        </div>
    </article>

    <article class="producto-individual">
        <div><img class="img-producto" src="/img/ryzen5-5600X.png"></div>
        
        <div class="descripcion-producto-main">
            <p class="precio"> $31370</p>
            <p class="descuento"> 10% off</p>
            <p class="descripcion"> AMD ryzen 5-5600X </p>
        </div>
    </article>

    <article class="producto-individual">
        <div><img class="img-producto" src="/img/FuenteAlimentación.png"></div>
        
        <div class="descripcion-producto-main">
            <p class="precio"> $17780</p>
            <p class="descuento"> 10% off</p>
            <p class="descripcion"> Fuente Gigabyte 850w 80 plus </p>
        </div>
    </article>

    <article class="producto-individual">
        <div> <img class="img-producto" src="/img/Gabinete.png"></div>
       
        <div class="descripcion-producto-main">
            <p class="precio"> $8890</p>
            <p class="descuento"> 35% off</p>
            <p class="descripcion"> Gabinete ATX Cooler Master k501l </p>
        </div>
    </article>
</section>