.seccion-arriba-dashboard{
    border-radius: 1px;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.parrafo-categorias{
    color: #c238d8;
    text-align: center;
    font-size: 11px;
}


.indice-tabla{
    text-align: left;
    border-collapse:collapse;
    width: 100%;
}

th,td{
    font-weight: 600;
    font-size: 15px;
    color: #c238d8;
    padding-left: 8px;
    text-align: center;
}

td{
    font-weight: 300;
    color: #c238d8;
    
}





.indice-tabla-ultProducto{
    
    border-bottom: solid 1px black;
    color: #c238d8;
}

.thead{
    background-color: #c238d8;
    border-bottom: solid 5px black;
    color: white;
}

.Pagina-dashboard-lista-productos{
    font-weight: 300;
    color: #c238d8;
    font-size: 20px;
}
.cargando-dashboard{
        font-size: 100px;
        color:red;
        text-align: center;
}

.articulos-dashboard-top{
    background-color: aliceblue;
    border: solid 1px #c238d8;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
    height: 99%;
    width: 30%;
}

.seccion-Abajo-dashboard{
    border-radius: 1px;
    height: 60%;
    width: 100%;
   
    display: flex;
}

.articulos-dashboard-bot{
    background-color: aliceblue;
    border: solid 1px #c238d8;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
    text-align: center;

}

.articulos-dashboard-bot{
    font-size: 20px;
    font-weight: 800;
    color: #c238d8;
    text-align: center
}
.container-img-dashboard{
    width: 100%;
    text-align: center;
    
}

.foto-producto-dashboard{
    width: 80%;
    height: 80%;
}

.parrafos-dashboard-bot{
    color: aliceblue;
}

.parrafos-total-dashboard{
    font-size: 20px;
    font-weight: 800;
    color: #c238d8;
   text-align: center;
}

.parrafos-total-dashboard-value{
    font-size: 20px;
    font-weight: 300;
    color: #c238d8;
   text-align: center;
}

.props.cantidad{
    font-size: 20px;
    font-weight: 300;
    color: #c238d8;
}

.lista-categorias{
    list-style:none;
    color: aliceblue;
    text-align: center;
}

.primer-box-container-dashboard{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
}


.container-banner{
    display: none;
}

.banner {
    width: 100vw;
    height: 200px;
    background-image: url(../img/banners/banner1.jpg);
    background-size:100% 100%;
    transition: all 1s ease-in-out;
    animation: banner 16s infinite linear
}

@keyframes banner {
    0%{
        background-image: url(../img/banners/banner1.jpg)
    }
    17% {
        background-image: url(../img/banners/banner1.jpg)
    }
    18% {
        background-image: url(../img/banners/banner2.jpg)
    }
    35% {
        background-image: url(../img/banners/banner2.jpg)
    }
    36% {
        background-image: url(../img/banners/banner3.jpg)
    }
    54% {
        background-image: url(../img/banners/banner3.jpg)
    }
    55% {
        background-image: url(../img/banners/banner4.jpg)
    }
    73% {
        background-image: url(../img/banners/banner4.jpg)
    }

    74% {
    background-image: url(../img/banners/banner5.jpg)
    }
    
    92% {
    background-image: url(../img/banners/banner5.jpg)
    }
    93% {
        background-image: url(../img/banners/banner6.jpg)
        }
    99% {
        background-image: url(../img/banners/banner6.jpg)
    }
}


.plus-button-fixed{
    width: 50px;
    height: 50px;
    margin: 1px;
    padding: 1px;
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.plus-button-fixed i{
    font-size: 50px;
    color:#c238d8;
}

@media(min-width:426px) and (max-width:768px){
    
    .plus-button-fixed{
        display: none;
    }
}

@media (min-width: 769px) {

    .plus-button-fixed{
        display: none;
    }
}

.containter-ult-producto{
    width: 50%;
    height: 100%;
}

.container-lisProds-categorias{
    height: 100%;
    width: 50%;
    text-align: center;
}

.titulo-listado-categorias{
    font-size: 20px;
    font-weight: 800;
    color: #c238d8;
    text-align: center;
}

.parrafo-listado-productos{
    color: #c238d8;
    text-align: center;
    font-size: 11px;
}

.parrafo-listado-productos-array{
    color: #c238d8;
    text-align:left;
    font-size: 12px;

}

.boton-agregar-comprar-carrito{
    width: 10%;
    border: none;
    box-shadow: 0 0 20px rgb(43 23 95 / 40%);
    background-color: rgba(43, 23, 95, 0.2);
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#c238d8;
    border: 1px solid #c238d8;
    text-decoration: none;
    text-align: center;
}
.boton-agregar-comprar-carrito:hover{
    background-color: #c238d8;
    color: white;
}